@import "tailwindcss";

@layer theme, base, components, utilities;

/* --- THEME --- */
@layer theme {
    :root {
        --background: hsl(0, 0%, 100%);
        --foreground: hsl(0, 0%, 5%);
        --text-muted: hsl(0, 0%, 30%);
        --bg: hsl(0, 0%, 95%);
        --bg-accent: hsl(115, 25%, 65%);
        --bg-light: hsl(0, 0%, 90%);
        --border-color: hsl(0,0%,20%);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: hsl(0, 0%, 0%);
            --foreground: hsl(0, 0%, 95%);
            --text-muted: hsl(0, 0%, 70%);
            --bg-accent: hsl(115, 25%, 65%);
            --bg: hsl(0, 0%, 5%);
            --bg-light: hsl(0, 0%, 10%);
            --border-color: hsl(0,0%,20%);
        }
    }

    @theme {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-text-muted: var(--text-muted);
        --color-bg: var(--bg);
        --color-bg-light: var(--bg-light);
        --color-bg-accent: var(--bg-accent);
        --border-color: var(--border-color);
    }


}
@layer components {
    .border-theme {
        border-color: var(--border-color);
    }

    .btn-3d {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }


    .btn-3d:hover {
        transform: translateY(-3px);
    }

}
/* --- BASE --- */
@layer base {
    body {
        background: var(--background);
        color: var(--foreground);
        font-family: Arial, Helvetica, sans-serif;
    }
    html {
        scrollbar-gutter: stable;
    }

    /*@media (max-width: px) {*/
    /*    .works-container {*/
    /*        display: flex;*/
    /*        flex-direction: column;*/
    /*    }*/

    /*}*/

    .grid-container {
        display: grid;
        grid-template-columns: 320px 320px ;
        grid-template-rows: 100px 100px 100px 100px 100px ;
        gap: 1em;
        grid-template-areas:"box-1 box-2"
                            "box-1 box-2"
                            "box-1 box-3"
                            "box-4 box-3"
                            "box-4 box-3";


    }

    .box-1 { grid-area: box-1; }
    .box-2 { grid-area: box-2; }
    .box-3 { grid-area: box-3; }
    .box-4 { grid-area: box-4; }

    @media(max-width: 767px) {
        .grid-container{
          display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

